

<div class="container color-dark">

    <div class="col">
        <p> Add To-Do Task</p>
    </div>

    <div class="col">
        <p>To-Do List</p>
    </div>
</div>



<div class="container color-light">

    <div class="col">
        <h2> Use This Add and Remove To-Do list </h2>

        <form>

            <input type="text" class='text' name="project-to-do" placeholder="Add To-do list">

            <br>

            <button type="button" class='btn'>Submit</button>

        </form>
        

        

    </div>

    <div class="col">
        <p class="project-container">
            Project-List
        </p>
    </div>
    
</div>