

<div class="container color-dark">

    <div class="col">
        <p> Add To-Do Task</p>
    </div>

    <div class="col">

        <!-- count of the items  -->

        <p>To-Do List  {{itemCounter}}</p>  
    </div>
</div>


<!-- once remove and added the list item length -->

<div class="container color-light" [@projects]="projects.length">

    <div class="col">
        <h2> Use This Add and Remove To-Do list </h2>

        <form>

            <!-- aded items  -->

            <input type="text" class='text' name="project-to-do" placeholder="Add To-do list" [(ngModel)]="projectText">


            <button type="button" class='btn' (click)="addItems()">Submit</button>

        </form>
        

        

    </div>

    <div class="col">
        <!-- once click the item that easyly removed  -->
        <p class="project-container" *ngFor='let list of projects;let i=index' (click)="removeItems(i)">

            {{list}}
        </p>
    </div>
    
</div>